.icon-left{
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* jak w % to by bralo wysokosc boksu a nie calej strony*/
    width: 100vw;
}

.winter{
    background-color: azure;
}

.summer{
    background-color: yellow;
}

.winter i{
    color:blue;
}

.summer i{
    color: red;
}